[submodule "thirdparty/dotaservice"]
	path = thirdparty/dotaservice
	url = https://github.com/lenLRX/dotaservice.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/lenLRX/spdlog.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.8.x
[submodule "thirdparty/c-ares"]
	path = thirdparty/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "thirdparty/boringssl"]
	path = thirdparty/boringssl
	url = https://github.com/google/boringssl.git
