[submodule "thirdparty/dotaservice"]
	path = thirdparty/dotaservice
	url = https://github.com/lenLRX/dotaservice.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.8.x
[submodule "thirdparty/boringssl"]
	path = thirdparty/boringssl
	url = https://github.com/google/boringssl.git
